.page-home {
  width: 100%;
  overflow-x: hidden; // Previne scroll orizontal accidental
  
  // Dacă vrei ca toate secțiunile să aibă o distanță consistentă
  main > section {
      // Poți defini reguli globale aici dacă e cazul
  }
}